@model ParentEspoir.WebUI.Models.DeleteModalViewModel

<!--DeleteModal-->
<div class="modal fade" id="@Model.ModalId" tabindex="-1" role="alertdialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="alert">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmation de la suppression</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Etes-vous sûr de vouloir supprimer cet élément ?
            </div>
            <div class="modal-footer">
                <form method="post" asp-controller="@Model.ControlerName" asp-action="Delete" asp-route-id="@Model.ModelId">
                    @if (Model.SecondModelId.Key != null && Model.SecondModelId.Value != 0)
                    {
                        <input hidden name="@Model.SecondModelId.Key" value="@Model.SecondModelId.Value" />
                    }
                    <button type="submit" class="btn btn-danger">Désactiver</button>
                </form>
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Annuler</button>
            </div>
        </div>

    </div>
</div>